<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gestión Cursos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/students">Estudiantes</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link active" aria-current="page" routerLinkActive="active" routerLink="/courses">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLinkActive="active" routerLink="/rpt-list-courses">Cursos por Estudiante</a>
        </li>
      </ul>
    </div>
    <div class="d-flex">
      <button class="btn btn-outline-success" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
