<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Reporte de Lista de Cursos</h1>
    <div class="form-group mt-2">
      <select class="form-select" [(ngModel)]="selectedStudent" (change)="getReportCourses()">
        <option *ngFor="let option of options" [value]="option.value" >{{ option.label }}</option>
      </select>
    </div>
  </div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Horario</th>
        <th>Fecha inicio</th>
        <th>Fecha fin</th>
        <th>Tipo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.schedule }}</td>
        <td>{{ item.date_ini | date:'yyyy-MM-dd' }}</td>
        <td>{{ item.date_end | date:'yyyy-MM-dd' }}</td>
        <td>{{ item.type == 'P' ? 'Presencial' : 'Virtual' }}</td>
      </tr>
    </tbody>
  </table>
</div>